/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --prymary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --logo-header: #000000;
  --logo-footer-and-active-link-button: #ffffff;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --time-drn: 250ms;
  --time-trans-fcn: cubic-bezier(0.4, 0, 0.2, 1);
  --grid-mrgn-left: 30px;
  --grid-mrgn-top: 30px;
  --grid-item: 3;
  --grid-indent: 30px;
}

.social-list__link, .features__icon-block, .clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /*   outline: 1px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--prymary-color);
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

body.is-fixed {
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--time-drn) var(--time-trans-fcn);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.title-color {
  color: var(--secondary-color);
}

.section-title {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
  /*   @include font(36px, 1.16);
  margin-bottom: 50px; */
}

.title_bg-dark {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--logo-footer-and-active-link-button);
}

.button {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 28px;
  border: none;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--logo-footer-and-active-link-button);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social-list {
  display: inline-flex;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0px;
}

.social-list__link {
  background-size: contain;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--time-drn) var(--time-trans-fcn);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover:hover .social-list__icon,
.social-list__link:hover:focus .social-list__icon, .social-list__link:focus:hover .social-list__icon,
.social-list__link:focus:focus .social-list__icon {
  fill: var(--icon-color-hover);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.social-list__icon--white {
  fill: var(--logo-footer-and-active-link-button);
}

.social-list_bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  color: var(--logo-header);
  transition: color var(--time-drn) var(--time-trans-fcn);
}

.logo--header-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_color-accent {
  color: var(--accent-color);
}

.logo--white {
  color: var(--logo-footer-and-active-link-button);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav {
  display: flex;
  margin-left: 88px;
  margin-right: 80px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .site-nav--desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
    font-size: 14px;
  }
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;
  transition: color var(--time-drn) var(--time-trans-fcn);
}

.site-nav--active-menu {
  color: var(--accent-color);
}

.site-nav--active-menu::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.mobile-menu {
  display: none;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-menu__button {
  position: relative;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.mobile-menu__button:active, .mobile-menu__button:focus {
  fill: var(--accent-color);
}

.mobile-menu__button.is-open {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 100;
}

.mobile-menu__button.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-open {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__icon-close {
  display: none;
}

.mobile-menu__list {
  font-size: 40px;
  line-height: 1.17;
  color: var(--secondary-color);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

@media screen and (max-width: 480px) {
  .mobile-menu__list {
    font-size: 36px;
  }
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link:active, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu_contact {
  margin-bottom: 64px;
}

.mobile-menu_contact__tel {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

@media screen and (max-width: 480px) {
  .mobile-menu_contact__tel {
    font-size: 28px;
  }
}

.mobile-menu_contact__mail {
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (max-width: 480px) {
  .mobile-menu_contact__mail {
    font-size: 18px;
  }
}

.mobile-menu_social-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.mobile-menu_social-list__item {
  border-left: 1px solid #ececec;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.mobile-menu_social-list__item:first-child {
  padding-left: 0;
  border-left: none;
}

.mobile-menu_social-list__item:last-child {
  padding-right: 0;
}

.mobile-menu--active-menu {
  color: var(--accent-color);
}

.contact {
  display: inline-block;
}

.contact__item-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contact__item-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact--mobile {
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .desktop_contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .desktop_contact {
    display: block;
  }
}

.contact {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link-mail:first-child {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link-tel:last-child {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 28px;
  }
}

.contact__link:hover .contact__icon-phone,
.contact__link:focus .contact__icon-phone,
.contact__link:hover .contact__icon-envelope,
.contact__link:focus .contact__icon-envelope {
  fill: var(--accent-color);
}

.contact__icon-envelope {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: var(--prymary-color);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.contact__icon-phone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: var(--prymary-color);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--prymary-color);
  margin-bottom: 10px;
}

.form__field--margin-bottom {
  margin-bottom: 20px;
}

.form__label:focus-within {
  color: #2196f3;
}

.form__text {
  display: block;
  margin-bottom: 4px;
}

.form__input {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 45px;
  padding-right: 12px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--time-drn) var(--time-trans-fcn);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input-with-icon {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.form__comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
}

.form__comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  position: absolute;
}

.form__checkbox:checked + .form__check-icon {
  background-color: var(--accent-color);
  border: transparent;
  fill: white;
}

@media screen and (max-width: 1199px) {
  .form__checkbox-text {
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.form__checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__check-icon {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  fill: transparent;
  margin-right: 7px;
}

.form__btn-modal {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background var(--time-drn) var(--time-trans-fcn);
}

.form__btn-modal:hover, .form__btn-modal:focus {
  background: #188ce8;
}

.team-card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-card__text {
  margin-bottom: 16px;
  word-break: break-all;
}

.address-list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__item {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address-list__item {
  margin-bottom: 9px;
}

.address-list--color-white {
  margin-bottom: 9px;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.header--container {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header--container {
    justify-content: space-between;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero--bg-image {
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--bg-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero--bg-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--bg-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero--bg-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--bg-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/hero/hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 150;
  opacity: 1;
  transition: opacity 500ms ease;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-200%, 0) scale(0.3);
}

.modal {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms ease;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-bottom: 0;
  }
}

.features__icon-block {
  height: 120px;
  background-color: var(--section-bg-color);
  margin-bottom: 30px;
}

.features__icon {
  width: 65.32px;
  height: 70px;
}

.features__title {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features-text {
  display: block;
  line-height: 1.71;
}

.occupation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
    padding-top: 0px;
  }
  .occupation__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }
  .occupation__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-bottom: 27px;
  }
  .occupation__list {
    position: relative;
  }
  .occupation__item::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0px;
  }
}

.team {
  background-color: var(--section-bg-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team__item {
  width: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  background: var(--logo-footer-and-active-link-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.team-card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-card__text {
  margin-bottom: 16px;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .clients {
    display: none;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }
  .clients-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
    margin-bottom: 0px;
  }
}

.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--time-drn) var(--time-trans-fcn);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill var(--time-drn) var(--time-trans-fcn);
}

@media screen and (min-width: 1200px) {
  .clients-list__icon {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.footer {
  width: 100%;
  background-color: var(--dark-bg-color);
  color: var(--logo-footer-and-active-link-button);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

.footer_container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer_container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__item {
  margin-bottom: 60px;
  text-align: center;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .footer__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .footer__item:last-child {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
    margin-bottom: 0px;
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__item:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.footer__title--margin {
  margin-bottom: 20px;
}

.footer__form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
}

.footer__label {
  display: block;
}

.footer__input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.footer__btn--inline-flex {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__btn--inline-flex {
    display: inline-flex;
  }
}

.footer__btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--logo-footer-and-active-link-button);
  margin-left: 10px;
}

/*  &__item {
    flex-basis: calc(50% - 30px) / 2;
  }
  &__item:last-child {
    flex-basis: calc(50% - 15px);
  } */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--grid-mrgn-left));
  margin-top: calc(-1 * var(--grid-mrgn-top));
}

.grid__item {
  flex-basis: calc((100% - var(--grid-indent) * 3) / var(--grid-item));
  margin-left: var(--grid-mrgn-left);
  margin-top: var(--grid-mrgn-top);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    align-items: baseline;
  }
}

.filter-list--margin-bottom {
  margin-bottom: 50px;
}

.filter-list__item {
  margin-right: 8px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .filter-list__item {
    margin-bottom: 0px;
  }
}

.filter-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.filter-list__button {
  display: inline-block;
  text-align: center;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border: 0px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: #f5f4fa;
  transition-property: color, background, box-shadow;
  transition: var(--time-drn) var(--time-trans-fcn);
}

.filter-list__button:hover, .filter-list__button:focus {
  color: var(--logo-footer-and-active-link-button);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
}

.filter-list--active-button {
  color: var(--logo-footer-and-active-link-button);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.portfolio_list {
  display: block;
}

@media screen and (min-width: 768px) {
  .portfolio_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--grid-mrgn-left));
    margin-top: calc(-1 * var(--grid-mrgn-top));
  }
}

.portfolio__item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  position: relative;
  background: var(--logo-footer-and-active-link-button);
}

@media screen and (max-width: 768px) {
  .portfolio__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - var(--grid-indent) * 3) / var(--grid-item));
    margin-left: var(--grid-mrgn-left);
    margin-top: var(--grid-mrgn-top);
  }
}

.portfolio__link:hover, .portfolio__link:focus {
  color: var(--prymary-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  opacity: 0.9;
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  transition: transform var(--time-drn) var(--time-trans-fcn);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #2196f3;
  opacity: 0;
  top: 0px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--logo-footer-and-active-link-button);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (max-width: 479px) {
  .overlay {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.overflow {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 0px;
}

.portfolio-card__tittle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-card__text {
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */