:root {
  --prymary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --logo-header: #000000;
  --logo-footer-and-active-link-button: #ffffff;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --time-drn: 250ms;
  --time-trans-fcn: cubic-bezier(0.4, 0, 0.2, 1);
  --grid-mrgn-left: 30px;
  --grid-mrgn-top: 30px;
  --grid-item: 3;
  --grid-indent: 30px;
}
