.features {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 768px) {
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__icon-block {
    @extend %flex;
    height: 120px;
    background-color: var(--section-bg-color);
    margin-bottom: 30px;
  }

  &__icon {
    width: 65.32px;
    height: 70px;
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-text {
    display: block;
    line-height: 1.71;
  }
}
