.team {
  background-color: var(--section-bg-color);

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    max-width: 450px;

    margin-bottom: 30px;
    background: var(--logo-footer-and-active-link-button);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }
  }
}
